#body{ /*estilo del body. esti id esta en MereBat.js*/
	margin-left : 10%;
	margin-right: 10%;
	background-color:  white;
	color: gray;
}

#jumbotro{
	margin:9px;
	padding: 14px;
	background-color: white;
}

a{
	color: red;
}