#menu{
	margin:9px;
	

}


#cards{
	margin-top: 50px;
	padding-left: 20%;
	padding-right: 20%;
}



#titleMenu{
	text-align : center;
	font-family: satisfy;
	font-size: 60px;
	color: gray;


}
.card{
	width: 80%;
	margin-bottom: 10%;
	border: white 6px outset; 
	

}

.card-img{
	height: 200px;
}

.card-title{
	font-size: 22px;
	font-family: satisfy;
}

.card-p{
	font-size: 10px;
	font-family: arial;
}

.card-Button{
	font-size: 14px;
}

#buttonCerrarModal{
	color: gray;
	width: 10%;
	margin-left:  90%;
	font-size: 22px;
}
