#infmenu{

	margin-bottom: 10px;

}
.img{
	width: 100%;
	height: 70px;
}
.cardModal {

	margin: 0px;
}
.cardMenuModal{
	border: white 3px outset; 

}
.titleSecond{
	font-family:  satisfy;
	font-size: 15px;
	padding-top: 6%;

}

#title{
	font-family:  satisfy;

}
#menu{
	font-size: 12px;
}
#modal{
	border-right: 3px solid #fed632;
	border-bottom: 3px solid #fed632;
	padding-right: 15%;
	
	margin-right: 10%;
	margin-bottom: 4%;

}
#firstModal{
	padding-left: 10%;

}
.precio{
	font-size: 12px;
}
.cardMenuModal{
	transition: 1.5s ease;
	-moz-transition: 1.5s ease; /* Firefox */
	-webkit-transition: 1.5s ease; /* Chrome - Safari */
	-o-transition: 1.5s ease; /* Opera */
	

}
.cardMenuModal:hover {
	transform : scale(2);
	-moz-transform : scale(2); /* Firefox */
	-webkit-transform : scale(2); /* Chrome - Safari */
	-o-transform : scale(2); /* Opera */
	-ms-transform : scale(2); /* IE9 */

	opacity:2;
	background-color: white;
	z-index: 2;
	position: absolute;

	}